.home {
  padding: 16px;
  background: #f7f7f7;

  h2 {
    margin-bottom: 12px;
    font-size: 18px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .card {
      display: flex;
      align-items: center; 
      gap: 12px;
      padding: 10px;
      border-radius: 14px;
      background: #fff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
      height: auto;
    }

    .image {
      width: 72px; 
      height: 72px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: contain;
        display: block;
      }
    }

    .content {
      flex: 1;
    margin-top: 0px;

      h3 {
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
      }

      .category {
        font-size: 12px;
        color: #777;
        margin: 2px 0;
      }

      .address {
        font-size: 12px;
        color: #999;
        line-height: 1.3;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .meta {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
        font-size: 12px;

        .rating {
          font-weight: 600;
        }

        .price {
          color: #555;
        }
      }
    }
  }
}
