.forgot {
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #FFFFFF;
  font-family: 'Urbanist', sans-serif;
}

.content {
  padding: 0 24px;
  margin-top: 200px;
}

.back_btn {
  width: 41px;
  height: 41px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  color: #FFFFFF;
  margin: 24px 24px -100px 24px;
  border: 1px solid #E8ECF4;

  svg {
    width: 19px;
    height: 19px;
    color: #1E232C;
  }
}

.content h1 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
}

.content p {
  font-size: 16px;
  color: #8391a1;
  margin-bottom: 24px;
}

.content input {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #dadada;
  // padding: 0 16px;
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  height: 56px;
  background: #ff6b6b;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.otp_boxes {
  display: flex;
  gap: 5px;
  margin-bottom: 24px;

  input {
    width: 48px;
    height: 56px;
    border-radius: 12px;
    border: 1px solid #dadada;
    text-align: center;
    font-size: 20px;
  }
}

.resend {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  color: #8391a1;

  span {
    color: #4a6cf7;
    font-weight: 600;
    cursor: pointer;
  }
}