.restaurant_card {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Urbanist", sans-serif;
      font-family: 'Urbanist', sans-serif;

  .card_image {
    width: 100%;
      position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }
    .back_btn {
      position: absolute;
        top: 70px;
          left: 50px;
      cursor: pointer;
      z-index: 10;
  
      svg {
        width: 24px;
        height: 24px;
        color:#131313;
      }
    }
  .card_body {
    padding: 16px;

    .title_row {
      display: flex;
      justify-content: space-between;
      align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px; 
        letter-spacing: 0;
        color: #1c1c1c;

      h2 {
        font-size: 18px;
        margin: 0;
        font-weight: 600;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 500;

        span {
          font-size: 14px;
        }
      }
    }

    .address {
      font-weight: 500;
      font-size: 16px;
      color: #505259;
      margin: 4px 0 8px;
    }

    .offers {
      font-weight: 600;
      font-size: 12px;
      color: #D39171;
      margin-bottom: 8px;
      font-weight: 500;
    }

    .description {
      font-weight: 500;
      font-size: 14px;
      color: #515151;
      line-height: 1.5;
    }
  }
}